.LocationDetails h4 {
    text-align: left;
}

.locDetailsHeading h4 {
    display: inline;
    padding-right: 10px;
}

.locDetailsHeading p {
    display: inline;
    padding-right: 10px;
}

.locDetailsHeading {
    display: inline;
    padding-right: 10px;
    float: none;
}

.select-location {
    max-width: 800px;   
}

.select-location-category {
    max-width: 250px;
}